@charset "UTF-8";
.footer{
  display: flex;
  background: #8e8aad;
  padding:30px;
  margin : 0 auto;
}
.footer > div:first-child {
  flex:3;
  text-align: center;
  color: #fff;
}
.footer > div:last-child {
  flex:9;
  color: #fff;
}

.img_main{
  height:300px;
  width:430px;
}

.img_sub{
  height:450px;
  width:500px;
}
