    *{ 
        font-family: 'Noto Sans KR', sans-serif;
        list-style: none;
        text-decoration: none;
        border-collapse: collapse;
        margin:0px;
        padding:0px;
        color:#000;
    }

    .intro-bg{
        background-image:url(7680x4320-light-gray-solid-color-background.jpg);
        width: 100px;
        height: 718px;
  }
    .header{
        display:flex;
        width: 1280px;
        margin:auto;
        background-color: lightgray;
        height: 86px;
    }
    .searchArea {
        width:300px;
        height: 400px;
        background:lightskyblue;
        border-radius: 5px;
    }
    .nav{
        display:flex;
        text-align: right;
    }

    .nav > li {
        margin-left:84px;
    }

    .selector-for-some-widget {
        box-sizing: content-box;
      }