/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

color: #e24040;

body {
  height: 100vh;
  margin: 0;  
  background: #DEDEDE;
  color: #5a6674;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.reading-glasses-icon {
	margin-left: 420px;
	margin-top: 5px;
	width: 25px;
}

/*--------------------
App
--------------------*/

.search-view {
	align-content: center;
}

.search-form {
  margin-top: 60px;
  position: relative;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}

.submit-button {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 30px;
}
  .focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 380px;
  height: 30px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
}
  
  svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;

  div {
    position: relative;
    display: inline-block;
    margin: 0 1px;
    cursor: pointer;
    
    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.01;
      cursor: pointer;
    }
    
    span {
      position: absolute;
      display: block;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      background: #929AA3;
      color: #fff;
      font-size: 9px;
      letter-spacing: 1px;
      line-height: 1;
      text-transform: uppercase;
      padding: 4px 7px;
      border-radius: 12px;
      top: -18px;
      transition: all .2s ease-in-out;
      
      &::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
        border-top: 4px solid #929AA3;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        transition: all .2s ease-in-out;
      }
    }
    
    &:hover span {
      opacity: 1;
      top: -21px;
    }
    
    label {
      display: block;
      cursor: pointer;
    }
    
    svg {
      height: 20px;
      width: 20px;
      fill: #5a6674;
      opacity: 0.6;
      transition: all .2s ease-in-out;
      pointer-events: none;
    }
    
    &:hover svg {
      opacity: 1;
    }
    
    input:checked + label svg {
      fill: $color;
      opacity: .9;
    }
    
    input:checked + label span {
      background: $color;
      
      &::after {
        border-top-color: $color;
      }
    }
  }


}






.ul{
	list-style: none;
}

.categorys {
	margin-top: 20px;
	list-style: none;
}

.categorys li {
	margin-bottom: 50px;
}
.categorys li a{
	text-decoration: none;

	}

.categorys li a:hover {
color : #898798;
}

.info_text {
	font-weight: bold;
	color : black;
}

.qa_text {
	font-weight: bold;
	color : black;
}
.talk_text {
	font-weight: bold;
	color : black;
}


#cmnt_add {
	margin-bottom: 3px;
	border-bottom: solid 0.5px gray;
}

.add-button {
	margin-top: 100px;
	font-size: 15px;
	display: flex;
	justify-content: flex-end;
}

.side_menu {
	width: 20%;
}

.lists {
	text-align: center;
	color: black;
	margin-top: 20px;
	width: 80%;
}

.main-wrapper {
	display: flex;
	justify-content: center;
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_overlay {
	position:fixed;
	width: 100%;
	height: 100%;
}

.modal_content {
	position: fixed;
	top: 30%;
	left: 40%;
	width: 400px;
	height: 450px;
	background-color: white;
	padding: 30px 0px;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
}

h1 {
	margin: 0;
}

.hidden {
	display: none;
}

.table th td {
	margin : 15px;
}

.form_category_menu {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

.form_category_menu a {
	border : solid 1px #898798;
	border-radius : 5px;
	color : black;
	font-size: 15px;
	text-decoration: none;
}

.info_box {
	padding : 5px 10px;
}

.qa_box {
	padding : 5px 10px;
}

.talk_box {
	padding : 5px 10px;
}

.form_input_title {
	width: 90%;
	all: unset;
	margin-top: 70px;
	margin-bottom: 40px;
	border-bottom: solid 2px;
}

.form_buttons {
	margin-top : 20px;
	width: 97%;
	display: flex;
	flex-direction: row-reverse;
}

 .table td a {
	color : black;
}

.form_buttons input {
	margin-right: 15px;
}

.form_box {
	margin-left: 25px;
}

.ctry_text_color {
	color : #898798;
}

.ctry_box_color {
	background-color : #898798;
}


