<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StudyMapper">
  
  <resultMap type="Study" id="StudyMap">
    <id column="study_no" property="no"/> 
    <result column="title" property="title"/>
    <result column="content" property="content"/>
    <result column="area" property="area"/>
    <result column="register_date" property="registeredDate"/>
    <result column="view_count" property="viewCount"/>
    <result column="max_member" property="maxMembers"/>
    <result column="start_date" property="startDate"/>
    <result column="end_date" property="endDate"/>
    <result column="del_status" property="registeredDate"/>
    <result column="price" property="price"/>
    <result column="status" property="studyStatus"/>   
    
    <association property="writer" javaType="member">
      <id column="member_no" property="no"/>
      <result column="name" property="name"/>
      <result column="email" property="email"/>
    </association>   
  </resultMap>
  
  <sql id="select1">
    select 
      study_no,
      title,
      content,
      area,
      register_date,
      view_count,
      max_member,
      start_date,
      end_date,
      del_status,
      price,
      status
    from 
      study
    inner join member m on st.member_no=m.member_no
  </sql>
  
  <sql id="order1">
    order by 
      st.study_no desc
  </sql>
  
  <select id="findAll" resultMap="StudyMap">
    <include refid="select1"/>
    <include refid="order1"/>
  </select>
  
  <!-- select할 컬럼 논의 -->
   <select id="findByKeyword" resultMap="StudyMap" parameterType="string">
  <include refid="select1"/>
    where 
      st.title like(concat('%',#{keyword},'%'))
      or st.content like (concat('%',#{keyword},'%'))
      or st.name like (concat('%',#{keyword},'%'))
    <include refid="order1"/>
   </select>
            
  <select id="findByNo" resultMap="StudyMap" parameterType="int">
    select 
      study_no,
      title,
      content,
      area,
      register_date,
      view_count,
      max_member,
      start_date,
      end_date,
      del_status,
      price,
      status
    from 
      study
    where 
       study_no=#{no}
  </select>


	<insert id="insert" parameterType="study">
	 insert into 
	   study(title,content,area,register_date,view_count,max_member,start_date,end_date,del_status,price,status)
	  values(#{},#{},#{},#{},#{}) <!--  값 넣기 -->
	</insert>
	  
	<update id="update" parameterType="study">
	 update study set
      title=#{title},
      content=#{content},
      area=#{area},
      register_date=#{register_date},
      view_count=#{view_count},
      max_member=#{max_member},
      start_date=#{start_date},
      end_date=#{end_date},
      del_status=#{del_status},
      price=#{price},
      status=#{status}     
   where study_no=#{no}  
  </update>
  
  <delete id="delete" parameterType="int">
    delete from study
    where study_no=#{no}
  </delete>
  
</mapper>







