@charset "UTF-8";

  
label {
  margin-right: 5px;
  text-align: right;
  display: inline-block;
  width: 60px;
}

.study-content-category {
  font-size: medium;
  font-weight: bolder;
}

.icon-form-group {
  text-align: right;
}

.study-hr {
  margin-top: 3px;
  margin-bottom: 10px;
}

.study-registered-date {
  text-align: right;
  float: right;
  font-weight: 500;
  margin-top: 2px;
  margin-right: 5px;
}

.uldesign {
  text-align:justify;
  letter-spacing: 0px;
  margin-bottom: 20px;
  xwidth: 90%;
  xmargin: 10px auto;
  text: bottom;
}

.first {
  xborder: 1px solid red;
  display:inline;
  width:30%;
  box-sizing: border-box;
}

.second{
  xborder: 1px solid green;
  display:inline;
  margin-left: 5%;
  width:30%;
  box-sizing: border-box;
}

.third{
  xborder: 1px solid blue;
  display:inline;
  width:30%;
  box-sizing: border-box;
}


.study-info-icon {
  margin-left: 545px;
  display: flex;
  text-align: right;
}

.freepagetop{
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  font-family: "Noto Sans KR", -apple-system, system-ui, BlinkMacSystemFont, "Apple SD Gothic Neo", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Helvetica;
  font-size: 14px;
  font-weight: bolder;
  line-height: 24px;
  padding-top: 32px;
  width: 845px;
  height: 1000px;
}

.menu {

  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);

  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  box-shadow: rgb(0, 0, 0, 0.15) 0px 5px 25px 0px;
  box-sizing: border-box;

  color: rgb(0, 0, 0);
  cursor: pointer;
  display: list-item;
  text-align: center;
  font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 750px;
  xheight: 500px;

  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  opacity: 1;

  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;

  text-align: left;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: ease-in;
}

.study-content-box {
  vertical-align: top;
  height: 140px;
}

.study-content2 {
  vertical-align: top;
}

.study-top-status-2 {
  display: flex;
  flex-direction: column;
}

.xstudy-top-status {
  float: left;
}

fieldset {
  text-align: center;
  border: 0px;
}

label {
  text-align: left;
  width: 100px;
  margin-left: 10px;
  margin-right: 0px;
  width: 60px;
}

input {
  xborder: none;
  width: 560px;
}

.input3 {
  text-align: center;
  width: 107px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(246, 245, 252);
  color: rgb(117, 109, 170);
  border: 2px solid rgb(117, 109, 170);
  margin: 5px;
}

/*input3,4 속성 같은데 사각형크기 왜 다르니?*/
.input4 {
  text-align: center;
  font-weight:700;
  font-size: 15px;
  width: 107px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: rgb(117, 109, 170);
  border: 2px solid rgb(202, 199, 224);
  margin: 5px;
}

.input5 {
  text-align: center;
  width: 60px;
  height: 23px;
  border-radius: 16px;
  background-color: rgb(117, 109, 170);
  color: rgb(246, 245, 252);
  border: 2px solid rgb(117, 109, 170);
  xmargin: 5px;
  margin-left: 7px;
}

.input-button-bottom {
  text-align: center;
  width: 107px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(117, 109, 170);
  color: rgb(246, 245, 252);
  border: 2px solid rgb(117, 109, 170);
  margin: 5px;
}

.info_item{
align-items: center;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: pointer;
display: flex;
font-family: "Spoqa Han Sans Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
font-size: 12px;
height: 18px;
xjustify-content: center;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: left;
width: 50px;

text-align: right;
float: right;
font-weight: 500;
margin-top: 2px;
margin-right: 5px;
}

.item2 {
margin-left: 30px;}

.form-group {
  margin-top: 0px;
  margin-bottom: 5px;
}

.icon {
width: 20px;
margin-left: 10px;
}

.icon_count {
margin-left: 2px;
margin-top: 0px;
margin-bottom: 0px;
}

.icon-top {
width: 20px;
margin-left: 4px;
}

xa {
text-decoration-line: none;
float: left;
text-align: center;
  width: 110px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(117, 109, 170);
  color: rgb(96, 86, 161);
  border: 2px solid rgb(117, 109, 170);
  box-shadow: 2px 2px 0px 0px rgb(77, 72, 72);
  margin: 5px;
}

xa:link { color: rgb(246, 245, 252); }
xa:visited { color: rgb(210, 207, 226); }
xa:link { text-decoration: none; text-shadow: 0 0 24px; }
xa:visited { text-decoration: none; text-shadow: none; }

.study-bottom-button {
  display: flex;
  text-align: center;
  justify-content: center;
}